.newsContainer{
    display: flex;
    margin: 50px;
    flex-direction: column;
}

.newsCard{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    height: 85vh;
    margin-left: 20px;
    
}