.card-wrapper{
    margin: 20px;
    background-color:wheat;
    /* width: 9.375rem;
    height: 12.5rem; */
    border: 0.0625rem solid rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0.1875rem 0.125rem 0.625rem rgba(0,0,0,0.1);
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: stretch; 
    transition: 0.3s;
}
.card-wrapper:hover{
    transform: scale(1.1);
        box-shadow: 0.3rem 0.3rem 0.9rem rgba(0,0,0,0.1);
}